<html>

<head>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

My great test

<div id="app">
    <table>
        <tr>
            <th>SSID</th>
            <th>Speed</th>
            <th>Security</th>
            <th>Password</th>
            <th><br></th>
        </tr>

        <tr v-for="wifi in wifis">
            <td>{{ wifi.ssid }}</td>
            <td>{{ wifi.speed }}</td>
            <td>{{ wifi.security }}</td>
            <td>
                <!-- https://stackoverflow.com/questions/43364487/dynamic-v-model-name-in-a-v-for-loop-vue-2 -->
                <input type="text" v-model="form.parent_id[wifi.ssid]"/>
            </td>
            <td>
                <button type="submit" v-on:click="connect(wifi.ssid, form.parent_id[wifi.ssid])">Connect</button>
            </td>
        </tr>
    </table>
</div>

</body>

<script src="app.js"></script>

</html>